<form action="/" method="get">
  <div class="form-group">
    <label class: "col-sm-2 control-label" for="location">Location</label>
    <div class="col-sm-10">
      <input type="text" name="location" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Submit" />
    </div>
  </div>
</form>

<% if @results %>
  <div class="list-group">
    <% @results.each do |government, officials| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= government.name %></h3>
        </div>
        <div class="panel-body">
          <% officials.each do |official| %>
						<div class="thumbnail">
              <img src="<%= official.photo_url %>">
							<div class="caption">
                <h3><%= official.name %></h3>
                <p><%= official.terms.current&.name %></p>
							</div>
						</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
