<div class="page-header">
  <h1><%= @official.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Slug:</dt>
  <dd><%= @official.slug %></dd>

  <dt>Photo:</dt>
  <dd><%= @official.photo %></dd>

  <dt>Born:</dt>
  <dd><%= @official.born %></dd>

</dl>
